
/* ESTILOS GENERALES */

body{
	margin: 0;
	padding: 0;
/*	background-color: rgba(224, 247, 250, 0.3) !important; */
	background-color: #e7e7e7 !important;
}

.col-option{
	height: 10% !important;
}

/* MENU DE OPCIONES */

.seg-logo{
    margin-right: 10px;
    width: 129px;
    border-radius: 50px;
}

nav .brand-logo {
    width: 40% !important;
}

/* COLOR CARD AND CONTAINERS */
.background-elements{
	background-color: rgba(224, 242, 241, 1) !important;
}

/* MENU PRINCIPAL */
.icon-exit-session{
    transform: rotate(180deg);
}

.row-menu-and-title{
	margin-bottom: 0 !important;
}

.notification-alert{
	color: white;
	margin-left: 5px;
	padding: 0px 10px 0px 10px;
	border-radius: 15px;
	background-color: rgba(230, 230, 230, 0.4) !important;
	font-weight: normal;
}

/* SECCIÓN PARA ESCOGER EL EJERCICIO FIZCAL */

.card-title-ejercicio-fizcal{
	margin-top: 6px;
	font-size: 22px !important;
}

.select-ejercicio-fizcal{
	font-size: 17px !important;
}

.container-ejercicio-fizcal{
	margin-bottom: 0px;
}

/* SECCIÓN DE PROYECTOS REGISTRADOS */

.collection-projects-registered{
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%) !important;
}

.collection > .collection-item:hover{
	background-color: rgb(240, 240, 240) !important;
	cursor: pointer;
}

.collection > .collection-item{
	color: black !important;
	text-decoration: none !important;
}

.collection-active{
	background-color: rgb(240, 240, 240) !important;
}

.collection-projects-registered{
	margin-top: 0px !important;
}

.collection-projects-title{
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

/* MOSTRAR INFORMACIÓN DE CADA PROYECTO REGISTRADO */

.collapsible-posicionamiento .collapsible-header:hover{
	background-color: rgb(235, 235, 235);
}

.collapsible-body{
	background-color: white;
	padding: 10px 20px 15px 20px !important;
}

.id_recomendation, .recomendation{
	font-style: normal !important;
}

#recomendations-elements{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.document-show{
	margin-top: 10px;
	width: 100%;
	height: 460px;
}

#documents, #evidence{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.btn-delete-document{
	margin-top: -5px !important;
	margin-left: 5px !important;
}

.btn-edit-document{
	margin-top: -5px !important;
}

.evidence-document{
	color: black !important;
}

.btn-validate-document{
	margin-top: 5px !important;
}

/* BARRAS DE PROGRESO POR PROYECTO */

.progress-bar-container{
	width: 100%;
}

.percentage-progress{
	text-align: center;
	margin-top: 8px !important;
	width: 6%;
	float: left;
	font-weight: bold;
}

.progress-per-project-container{
	margin-top: 10px !important;
	width: 94%;
	height: 15px !important;
	border-radius: 8px;
	float: left;
}

.progress-per-project{
	height: 15px !important;
	border-radius: 8px;
}

.progress-step-per-project{
	margin-top: 0px !important;
	margin-bottom: 3% !important;
}

.btn-open-project{
	margin-top: 20px;
}



